#the _pycache_ folder is created by pyhton when u run a script.it contains .pyc files which are the complied versions
#of ur python scripts.these files are in a format called bytecode,which python can execute faster than the original source code 

langchain    #library or framework
langchain-core    #package
langchain-community
PyPDF2
numpy
pandas
openai
langchain-openai
#PyMuPDF
#sentence-transformers
#faiss-cpu
chromadb
python-dotenv
fastapi
uvicorn
#langchain_groq